* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    background-color: black;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgba(3, 3, 3, 0.3)),
    url(../img/tree.jpg);
    background-size: cover;
    background-position: top;    
    clip-path: polygon(0 0,100% 0, 100%  80%, 0 100%);
    color: whitesmoke;
    
}

.lang {
    background-color: black;
}